/* Tweaks for running in the Seven admin theme */
#block-seven-page-title {
  /* Remove the page heading (which displays the contact name) as this is displayed within the page */
  display: none;
}

#block-seven-content .contacts-tabs-content {
  background-color: #fcfcfa;
  padding-left: 15px;
  padding-right: 15px;
}
#block-seven-content .contact-summary h2 {
  /* Fix positioning of contact's name */
  display: inline;
}
#block-seven-content .contacts-duplicates table {
  /* Fix spacing between Apply button and the table on duplicates tab */
  margin-top: 1em;
}
#block-seven-content .dash-top,
#block-seven-content .dash-bottom {
  /* Fix width of tab content dashboard blocks */
  width: 100%;
}
#block-seven-content .contacts-tabs .vertical-tabs__menu {
  /* Default is 240px */
  width: 180px;
}
#block-seven-content .contacts-tabs .vertical-tabs__panes {
  /* Default is 240px */
  margin-left: 180px;
}
#block-seven-content .card {
  /* Unlike Claro, Seven doesn't have 'card' widget css, so just add something very basic */
  border: 1px solid #ccc;
  padding: 10px;
}
#block-seven-content .contacts-tabs-content .field.field--label-above {
  margin-top: 10px;
}
#block-seven-content .contacts-tabs-content .field--type-address p.address {
  margin: 0;
}
