/* Tweaks for when running inside the Gin admin theme */
header {
  /* Remove the page heading (which displays the contact name) as this is displayed within the page */
  display: none !important;
}
#block-gin-breadcrumbs {
  /* Fix up the padding of the Breadcrums section because we've removed the title section. */
  padding-bottom: 1em;
}
.sticky-shadow {
  /* Gin theme makes the page title 'sticky' so it's always visible
  when scrolling the page. However, we've hidden the page title on the Contact page
  (above) so we need to also hide the sticky shadow, otherwise the shadow continues to always be visible. */
  display: none;
}

.contact-page {
  background: var(--gin-bg-layer);
  box-shadow: 0 6px 16px var(--gin-border-color-layer);
  border: 1px solid var(--gin-border-color-layer);
  border-radius: var(--gin-border-l);
  box-sizing: border-box;
  padding: var(--gin-spacing-m);
}

#block-gin-content .contacts-tabs-content {
  /* Alter the tab content padding */
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  /* Ensure colours switch properly with light/dark mode */
  color: var(--gin-color-text);
}
.gin--dark-mode #block-gin-content .contacts-tabs-content {
  /* Swap out tab content background for dark mode */
  background: var(--gin-bg-app);
}
#block-gin-content .contacts-tabs .vertical-tabs__menu {
  /* Default is 20em */
  width: 10em;
}
#block-gin-content .contacts-tabs .vertical-tabs__panes {
  /* Default is 20em */
  margin-left: 10em;
}
#block-gin-content .dash-top,
#block-gin-content .dash-bottom {
  /* Fix width of tab content dashboard blocks */
  width: 100%;
}
#block-gin-content h2 {
  font-size: 1.3rem;
  /* Ensure colours switch properly with light/dark mode */
  color: var(--gin-color-title);
}
#block-gin-content .contact-summary {
  color: var(--gin-color-text);
  border: 1px solid var(--gin-border-color);
  border-radius: var(--gin-border-m);
  box-shadow: none;
  padding: 1rem;
}
#block-gin-content .contact-summary h2 {
  margin-top: 0;
}
#block-gin-content .contacts-tabs-content .field.field--label-above {
  margin-top: 1rem;
}
#block-gin-content .contacts-tabs-content .field--type-address p.address {
  margin: 0;
}
#block-gin-content .block-views .gin-table-scroll-wrapper {
  /* Workaround an issue within gin's rendering of tables.
     Within embedded views, the gin-table-scroll-wrapper overlaps content underneath
     the view block. This means the Add Organisation / Add Member buttons on the Organisations/Members tabs
     end up being non-clickable as they're overlapped. We don't need the behaviour of the
     scroll wrapper in these scenario so just remove its margins and padding. */
  padding: 0;
  margin: 0;
}
#block-gin-content .block-contacts h2 {
  /* Make Contacts block headings match gin panel headings */
  padding-block: calc(12em / 18);
  padding-inline: calc(24em / 18);
  line-height: calc(24em / 18);
  margin-top: var(--gin-spacing-s);
  font-size: var(--gin-font-size-l);
  font-weight: var(--gin-font-weight-bold);
  color: var(--gin-color-primary-active);
  padding: var(--gin-spacing-m) var(--gin-spacing-l);
  background: var(--gin-bg-header);
  border: 0 none;
  border-radius: var(--gin-border-m);
}
