<div class="contacts-row-image">
  {%  if image %}
  <a href="{{ url }}">{{ image }}</a>
  {% endif %}
</div>
<div class="contacts-row-main">
  {% if label %}<{{ title_tag ?? "h3" }} class="contact-label"><a href="{{ url }}">{{ label }}</a></{{ title_tag ?? "h3" }}>{% endif %}
  {% if email %}
    <div class="contact-email">{{ email }}
    {% if web_account %}
      <span class="contact-web-account">(Web account)</span>
    {% endif %}
    </div>
  {% endif %}
  {% if address %}<div class="contact-address">{{ address }}</div>{% endif %}
  {% if roles %}<div class="contact-roles description">{{ roles }}</div>{% endif %}
  {% if extra %}<div class="contact-extra">{{ extra }}</div>{% endif %}
</div>
<div class="contacts-row-supporting">
  <small class="contact-id description">ID: {{ user.id }}</small>
</div>
